@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

footer {
  background-color: black;
}

.footer-container {
  justify-content: space-evenly;
  margin: 1rem;
}

.footer-link {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #0f4c75;
}

.footer-link:hover {
  color: whitesmoke;
}

.footer-social-icons {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.footer-social-icons a {
  font-size: 80px;
}

.footer-social-icons ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  flex-direction: row;
}


.contact-info p {
  margin: 0;
  font-size: 1em;
  color: whitesmoke;
}

.contact-info ul {
  line-height: 22px;
}

.contact-info p:hover {
  color: #0f4c75;
}

.link {
  margin: 1.5em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link a {
  font-size: 1.5em;
}

.copyright {
  font-size: 10px;
  height: min-content;
  color: whitesmoke;
  margin: 0;
}

h3 {
  font-family: 'Baloo Chettan 2', cursive;
  color: #3282b8;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 745px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-container {
    display: flex;
  }

  .footer-container p {
    width: max-content;
  }

  .footer-social-icons {
    justify-content: normal;
  }
}
